

#checky{
  display: none;
  
}
.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.toggler-wrapper.style-8 input[type="checkbox"]:checked+.toggler-slider {
  background-color: #d9d9d9;
}

.toggler-wrapper.style-8 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
  background: conic-gradient(#43A047, #255827);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.toggler-wrapper.style-8 .toggler-slider {
  background-color: #d9d9d9;
}

.toggler-wrapper.style-8 .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background: conic-gradient(#E53935, #9f1815);
}

input[type=checkbox]:checked + label {
  color:red;
  text-decoration: line-through;
} 
#number{
  visibility: hidden;
}
#select  {
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items:center;
  background: rgb(220, 101, 101);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #ed5b5b;
 }
 
 button, button span {
  transition: 200ms;
 }
 
 button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 button svg {
  width: 15px;
  fill: #eee;
 }
 
 button:hover {
  background: #ff3636;
 }
 
 button:hover .text {
  color: transparent;
 }
 
 button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 button:focus {
  outline: none;
 }
 
 button:active .icon svg {
  transform: scale(0.8);
 }
.main{
  display: grid;
}
.user-box{
  justify-content: center;
}
h2{
  margin-top: 1vh;
 margin-bottom: 5vh !important;
 height: 3vh;
 padding-left: 30px;
 font-size: medium;
    color: hotpink;
    position:fixed;
    z-index:2;
    opacity: 0.58;
}
:root {
	--yellow: #43423e;
	--dark: #2f313a;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
  
}
input[type=checkbox]:checked + label {
    text-decoration:line-through;
  } 
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	
	justify-content: center;
	font-family: "Lato", Arial, Helvetica, serif;
	background: linear-gradient(90deg, #131417, var(--dark) 35% 65%, #131417);
	font-size: 1em;
}

body *,
body *:before,
body *:after {
	box-sizing: border-box;
}

.content {
	width: 90vmin;
}



.team {
	padding: 2em 0 2em 2.5em;
	margin: 0;
}

.member {
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(
		83deg,
		var(--yellow) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: var(--trans);
}

.member:nth-of-type(even) {
	text-align: right;
	background: linear-gradient(
		-83deg,
		var(--yellow) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
}

.thumb {
	width: 13vmin;
	height: 13vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--dark) 0 70%,
		var(--yellow) 0% 100%
	);
	transform: rotate(-4deg);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.member:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--dark);
}

.member:hover {
	transform: scale(1);
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
	--deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.member:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.description {
	padding-top: 1vmin;
}

.description p {
	padding: 0 2em;
	margin-bottom: 1em;
}



form .user-box {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
  }
  form .user-box input {
    width: 300px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  form .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  form .user-box input:focus ~ label,
  form .user-box input:valid ~ label
   {
    top: -20px;
    left: 0;
    color: #FFD700;
    font-size: 12px;
  }
  .sub {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    align-items: center !important;
    cursor: pointer;
    position: relative !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 0;
    border-radius: 10px;
}

.sub:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.sub:active {
    color: #000
}

.sub:active:after {
    background: transparent;
}

.sub:hover:before {
    opacity: 1;
    
   
}

.sub:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  
/*<div class="checkbox-wrapper-5">
<div class="check">
  <input id="check-5" type="checkbox">
  <label for="check-5"></label>
</div>
</div>*/



.labe{
    color: hotpink;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}



.menu {
  display: flex;
  margin: 2vh;
  max-width: 720px;
  height:5vh;
  list-style: none;
}
.menu li a{
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #777;
  text-decoration: none ;
  transition: all 1s;
}

.menu li {
  width: 110px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  
  text-align: center;

 
  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 2s;
  }

  &:hover a {
    color: #d94f5c;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}






